/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */

:root {
    --bg: #f6f6f6;
    --accent-pink-1: #ffe2e2;
    --accent-pink-1-transparent: #af969672;
    --accent-pink-2: #ffc7c7;
    --dark-grey: #787878;
}

/* style */

body {
    font-family: 'Merienda', cursive;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-grey);
    height: 100vh;
    padding: 30px 0;
}

.main-wrapper {
    position: relative;
}

.restart-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--accent-pink-1-transparent);
    z-index: 1;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--bg);
    background-color: transparent;
    font-family: 'Merienda', cursive;
    cursor: pointer;
    padding: 10px;
    border: 3px solid var(--bg);
    gap: 5px;
    border-radius: 5px;
}


.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid var(--accent-pink-2);
    border-radius: 5px;
}

.tile {
    border: 1px solid var(--accent-pink-1);
    height: 10rem;
    aspect-ratio: 1/1;
    padding: 20px;
}

.tile>img {
    animation-name: pawTap;
    animation-duration: 0.5s;
}

@keyframes pawTap {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

h1 {
    font-size: 3rem;
}

.winner {
    font-size: 1.5rem;
}

.hide {
    visibility: hidden;
}


/* github-corner */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}